<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connstr" providerName="MySql.Data.MySqlClient" connectionString="Persist Security Info=False; Allow Zero Datetime=True; database=towlot; datasource=localhost; port=3306; username=root; password=Pa55w0rd"/>
    <add name="constr" providerName="MySql.Data.MySqlClient" connectionString="Persist Security Info=False; Allow Zero Datetime=True; datasource=localhost; port=3306; username=root; password=Pa55w0rd"/>
  </connectionStrings>
</configuration>
